<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<%= render '/refinery/admin/head' %>
<body class='login <%= I18n.locale %>'>
  <div class="wrapper info-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
          <div id="login">
            <div class="spacer"></div>
            <h1 class="text-center"><%= yield :header %></h1>
            <%= yield %>
          </div>
        </div>   
      </div>
    </div>
  </div>
</body>
</html>
